body {
    font-family: georgia, sans-serif;
    text-align: left;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: green;
}

#container {
    width: 50%;
    margin: 10px auto;
    border: 1px solid black;
}

h1#title {
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    height: 50px;
    color: black;
}

#content {
    padding:10px 50px;
}

pre {
	font-size: 70%;
	background-color: rgb(247, 247, 245);
	padding: 4px;
	line-height: 120%;
	margin-left:10px;
	width: 90%;
	border: solid 1px rgba(189, 199, 189, 0.7);
}

code {
	font-family:Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy;
}
