body {
    font-family: georgia, sans-serif;
    text-align: left;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: green;
}

#container {
    width: 50%;
    margin: 10px auto;
    border: 1px solid black;
}

h1#title {
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    height: 50px;
    color: black;
}

#content {
    padding:10px 50px;
}






